<h1>show</h1>
<p>
  <%= @branch.name %>
</p>
<p>
  <%= @branch.north %>
</p>
<p>
  <%= @branch.south %>
</p>
<p>
  <%= @branch.west %>
</p>
<p>
  <%= @branch.east %>
</p>
<p>
  <%= @branch.important_place %>
</p>
<p>
  <%= @branch.important_road %>
</p>
<p>
  <%= @branch.geography %>
</p>
<p>
  <%= @branch.branch_type.name %>
</p>
<p>
  <%= @branch.post_office.name %>
</p>
