<h1>ยินดีต้อนรับ : <%= current_user.full_name %> </h1>
<% if user_signed_in?%>
  <%= button_to "ออกจากระบบ", destroy_user_session_path, method: :delete  %>
  <%= link_to 'สร้างด้านจ่าย' , new_branch_path %>
<% end %>

  <table>
    <thead>
      <th>ลำดับ</th>
      <th>ชื่อด้านจ่าย</th>
      <th>ประเภท</th>
      <th>ที่ทำการ</th>
    </thead>
    <tbody>
      <% @branchs.each do |branch| %>
      <tr>
        <td><%=  %></td>
        <td><%= branch.name %></td>
        <td><%= branch.branch_type.name %></td>
        <td><%= branch.post_office.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
