<div class="middle-box text-center loginscreen animated fadeInDown">
  <div class="ibox">
    <div class="ibox-content">
      <div>
        <div>
          <h6 class="logo-name">THP</h6>
        </div>
        <h3>ยินดีต้อนรับสู่ THP Delivery App</h3>
        <hr>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :อีเมล์ , class: 'label-control' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control' , placeholder: 'กรอกผู้ใช้งาน' %>
        </div>

        <div class="form-group">
          <%= f.label :รหัสผ่าน , class: 'control-label' %><br />
          <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control' , placeholder: 'รหัสผ่าน' %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me , class: 'control-label' %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.submit "เข้าสู่ระบบ" , class: 'btn btn-primary'%>
        </div>
        <% end %>
        <p class="m-t"> <small>Developed by Megamind &copy; 2022</small> </p>
      </div>
    </div>
  </div>
</div>
