<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <a class="navbar-brand" href="#">DeliveryApp</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                  <%= link_to "หน้าหลัก" , root_path , class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ไม่รู้</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ไม่รู้</a>
                </li>
              </ul>
            </div>
            <ul class="navbar-nav justify-content-center">
              <li class="nav-item">
                <% if user_signed_in? %>
                  <i class="fa fa-user"></i> ผู้ใช้งาน : <%= current_user.full_name %>&nbsp;
                <% end %>
              </li>
              <li>
                <%= link_to "ออกจากระบบ", destroy_user_session_path, method: :delete , class: 'btn btn-danger btn-sm'%>
              </li>
            </ul>
        </nav>
      <%= yield %>
    </div>
  </body>
</html>
