<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true  %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
          <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
              <li class="nav-header">
                <div class="dropdown profile-element">
                  <span>
                    <i class="fa fa-user fa-5x"></i>
                  </span>
                    <h4><%= current_user.full_name %> </h4>
                    <%= link_to "ออกจากระบบ", destroy_user_session_path , class: 'btn btn-danger btn-sm' , data:{"turbo-method": :delete} %>
                  </div>
                  <div class="hr-line-dashed"></div>
                </li>
              </ul>
          </div>
        </nav>
          <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
              <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                <!-- ด้านบนหัวสุดเลยสัส -->
                <h1>โปรแกรมจัดการเรียงจ่าหน้า (NZ)</h1>
              </nav>
            </div>
            <div class="wrapper wrapper-content animated fadeInDown">
              <%= yield %>
            </div>
          </div>
        </div>
        <% else %>
            <%= render template: "devise/sessions/new" %>
        <% end %>
      </body>
</html>
